* {
    box-sizing: border-box;
}
html {
    font-size: 20px;
    line-height: 20px;
}

body {
    background-color: #E9967A;
    color: #fff;

}
body a {
    text-decoration: none;
    color: #fff;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9967A;
    width: 100%;
    padding-right: 2%;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.menu-blocks {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    padding: 20px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-radius: 10px;
    color: #ffcb53;
}

.menu-blocks:hover {
    background-color: #954E36;
}

.menu-blocks:active {
    background-color: rgba(149, 78, 54, 0.7);
}

.sign-up-block {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../img/eyeblow_brush.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 2%;
}

.sign-for-brows {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #ffcb53;
}
   
.sign-up-btn {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.1rem;
    background-color: rgba(242, 182, 129, 1);
    border-radius: 5px;
    padding: 2%;

}

.sign-up-btn:hover,
.privacy-policy:hover {
    background: rgba(242, 182, 129, 0.6);
}

.sign-up-btn:active,
.privacy-policy:active {
    background: #9b3645;
}

.info-about {
    display: flex;
    padding: 2% 5%;
}

.about-wrapper .info-about:nth-child(2){
    justify-content: right;
}

.img-brows {
    width: 700px;
    height: 460px;
    background-color: #9b3645;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6); 
}

.brows {
    padding: 3%;
    background-color: #9b3645;
    border-radius: 5%;
    width: 480px;
    height: 350px;
    z-index: 1;
    position: relative;
    top: 60px;
    right: 80px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6); 
}

.brows h4, 
.eyelashes h4 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding-bottom: 40px;
}

.brows p,
.eyelashes p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.1rem;
}

.eyelashes {
    padding: 3%;
    background-color: #d97fb7;
    border-radius: 5%;
    width: 480px;
    height: 350px;
    z-index: 1;
    position: relative;
    top: 60px;
    left: 80px;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.6); 
}

.img-eyelashes {
    width: 700px;
    height: 460px;
    padding: 2%;
    border-radius: 15px;
    background-color: #d97fb7;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.6); 
}

.footer {
    text-align: center;
    background-color: #7d7576;
    padding: 1%;
}

.privacy-policy {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 0.9rem;
    background-color: rgba(242, 182, 129, 1);
    border-radius: 5px;
    padding: 5px;
}
