* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}
li {
    list-style-type: disc;
}
.container {
    display: flex;
    margin: 40px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.aside-wrapper {
    background-color: #1E2939;
    max-width: 370px;
    padding-left: 40px;
}
.aside-wrapper li::before {
    content: '';
    
}

.self-img {
    max-width: 370px;
    max-height: 354px;
    padding: 40px 0 51px;
}

.contacts {
    padding-bottom: 47px;
}

.tech-skills {
    padding-bottom: 44px;
}
